# Bulit in Function

### Float Function

In [6]:
#integer to float num using float Function 
num=10
print(num)
print(type(num))
a=float(num)#Float function 
print(a)
print(type(a))

10
<class 'int'>
10.0
<class 'float'>

In [9]:
#string to float
a="3.14"
print(type(a))
b=float(a)#using Function
print(b)
print(type(b))#check data type

<class 'str'>
3.14
<class 'float'>

### Int Function

In [11]:
#float to integer
a=5.32
print(type(a))
b=int(a)
print(b)
print(type(b))

<class 'float'>
5
<class 'int'>

In [12]:
#string to int
a="22"
print(type(a))
b=int(a)#using Function
print(b)
print(type(b))#check data type

<class 'str'>
22
<class 'int'>

### String Function

In [16]:
a=56
print(type(a))
b=str(a)
print(b)
print(type(b))
c="2"
print(b+c)

<class 'int'>
56
<class 'str'>
562

### Abs Function

In [2]:
x=-23
print(abs(x))#Absulate value

23

In [3]:
x=-2.3
print(abs(x))

2.3

In [5]:
x=-3+4j
print(abs(x))# both are square and in under root and add

5.0

### len Function

In [11]:
#String len
x="hello i am your educator swati"
print(len(x))

30

In [8]:
y="hey i am chandan rai"
print(len(y))

20

In [9]:
#int len
a=[2,5,5,77,35,45]
print(len(a))

6

### Practics Question

##### Question 1

in a game application, the player's score is stored 
as a floating-point number However, for leaderbord display,
you need to convert the score to an integer.
how would you use the int() function to convert the
player's score from floting- point to integer format?
pls solve this with code, play score=1234.56

In [10]:
#solve:-
player_score=1234.56
#convert in to integer value
x=int(player_score)
print(x)
print(type(x))

1234
<class 'int'>

##### Question 2

in a customer relationship management(CRM) system 
for a retail company, you hava a data base contaning
customer records. how would you use the len() function to find the total number of customer in the database, 
allowing the company to track its custmer base?

customer_database= [
    (1. 'jhon Doe', 'jhon@example.com'),
     (2. 'jane smith', 'jane@example.com),
     (3. 'alice jhonson', 'alice@example.com),
]

In [16]:
#solve:-
customer_database= [
    (1, 'jhon Doe', 'jhon@example.com'),
     (2, 'jane smith', 'jane@example.com'),
     (3, 'alice jhonson', 'alice@example.com'),
]
print("The total number of customer in the database is:-",len(customer_database))

The total number of customer in the database is:- 3

#### Question 3

you're devloping a finance application that calculate simple intrest.
The principal amount is 250000 Rs, the interst rate is 9.34567%,
and the time period is 3 years . calculate the simple intrest,
and the final values should be a integer.

In [20]:
#solve:-
principal_amt=250000
time_period=3
rate_intrest=9.34567
#calculate simple Intrest
simple_intrest=(principal_amt*time_period*rate_intrest)/100
print("The simple intrest is:-",(int(simple_intrest)))

The simple intrest is:- 70092

#### Home Work

You're working at a travel company, responsible for managing passenger informaction.
due to a technical glitch in the system, some passenger's
age were  mistakenly recoded as negative value. However,age can not be negative,
before further analysis or reporting.

which function you will use to correct the age of all passenger 
in the database where negative ages were recoderd due to a tachnical glitch?

In [29]:
#solve:-
passenger_age = [25, -36, -45, -55, 18]

# Apply the abs function to each age in the list
absolute_ages = [abs(age) for age in passenger_age]

print(absolute_ages)

[25, 36, 45, 55, 18]