# Dictonery part 2

### Membership testing
##### Always take a key not value

In [2]:
person={
    'name':"chandan",
    'age':26,
    'city':"delhi"
    
}
print('name'in person)

True

In [4]:
print('email'in person)

False

In [5]:
print('chandan' in person)

False

### Nested Dictionary

In [15]:
employees={
    'emp1':{'name': 'chandan', 'age':30,'city':"puna"},
    'emp2':{'name':"priya",'age':35,'city':"ghazipur"}
}
print(employees['emp1'])
print(employees['emp1']['name'])
print(employees['emp1']['city'])

{'name': 'chandan', 'age': 30, 'city': 'puna'}
chandan
puna

## Practic Question 1

Creat a dictionary book_rating with the folloing intial date:
'python programing':4.5
'Data science Handbook:'4.8
'Machine learing Basic':4.2

Check if "python programing" is in book_rating.
Print "Found" if it exists, otherwise print "NOt Found".

use a method to get a all key from book_rating and
store them in a list titles.
print the list titles.

In [1]:
#solve:-
#1. Check in the dict and print found OR not found
book_rating={
    'python programing':4.5,
    'Data science':4.8,
    'Machine Learing Basic':402
}
if 'python programing' in book_rating:
    print("Found")
else:
    print("Not Found")

# 2. print the list titals
list=list(book_rating.keys())
print(list)

Found
['python programing', 'Data science', 'Machine Learing Basic']

## Question 2

Creat a dictionary fruit_store with the folling items:
'apple':10
'banana':15
'orange':8
'grape':20

print each fruit along with its stick count
in the each "Fruit:Stock" using a loop.

OUTPUT
Fruit:apple,stock :10
Fruit:banana,stock:15
Fruit:orange,stock:8
Fruit:grape,stock:20

In [7]:
fruit_store={
    'apple':10,
    'banana':15,
    'orange':8,
    'grapes':20
}
for fruit in fruit_store:
    print("Fruit:",fruit, "stock:",fruit_store[fruit])

Fruit: apple stock: 10
Fruit: banana stock: 15
Fruit: orange stock: 8
Fruit: grapes stock: 20

### Length Method
#### len()

In [8]:
dict={
    'ID':12345,
    'color':"red",
    'year':2004
}
print(len(dict))

3

### Get keys
#### .keys() for key only

In [9]:
a={
    "name":"priya",
    "age":25,
    "Country":"India"
}
print(a.keys())

dict_keys(['name', 'age', 'Country'])

### Get Value
#### .values()

In [16]:
# for Key Value only
a={
    "name":"priya",
    "age":25,
    "Country":"India"
}
print(a.values())

dict_values(['priya', 25, 'India'])

### Change Value

In [19]:
a={'name':"chandan","age":25,"country":"India"}
a["country"]="Bharat"
print(a)

{'name': 'chandan', 'age': 25, 'country': 'Bharat'}

In [21]:
a={'name':"chandan","age":25,"country":"India"}
a["age"]=30
print(a)

{'name': 'chandan', 'age': 30, 'country': 'India'}

### Adding Item

In [22]:
a={'name':"chandan","age":25,"country":"India"}
a["city"]="New Dehli"
a["Email Id"]="chandan@gmail.com"
print(a)

{'name': 'chandan', 'age': 25, 'country': 'India', 'city': 'New Dehli', 'Email Id': 'chandan@gmail.com'}

### Update method
#### .update({write like a dict type})

In [26]:
a={'name':"chandan","age":25,"country":"India"}
a.update({'city':"Ghazipur","aadhar no":800351288649,"email":"Chandanrai@gmail.com"})
print(a)

{'name': 'chandan', 'age': 25, 'country': 'India', 'city': 'Ghazipur', 'aadhar no': 800351288649, 'email': 'Chandanrai@gmail.com'}

 ### Remove method
#### .pop(value) keyword

In [32]:
a={'name':"chandan","age":25,"country":"India"}
print(a)
a.pop("age")
print(a)

{'name': 'chandan', 'age': 25, 'country': 'India'}
{'name': 'chandan', 'country': 'India'}

### del method

In [34]:
a={'name':"chandan","age":25,"country":"India"}
del a["age"],a["country"]
print(a)

{'name': 'chandan'}

### clear method
#### clear all dict with .clear()

In [36]:
a={'name':"chandan","age":25,"country":"India"}
a.clear()
print(a)

{}

## Practic Question

### Question 1

write a Python script to concatennate the following dictionaries to creat a new one

In [85]:
#solve:-
# Method 1
# concatennate the two dict
a={'name':"chandan","age":25,"country":"India"}
b=fruit_store={
    'apple':10,
    'banana':15,
    'orange':8,
    'grapes':20
}
# for update method to concatennate 
a.update(b) 
print(a)

{'name': 'chandan', 'age': 25, 'country': 'India', 'apple': 10, 'banana': 15, 'orange': 8, 'grapes': 20}

##### Method 2
##### .update()

In [48]:
#insi the dict
dict1={'name':"chandan","age":25,"country":"India"}
dict2=fruit_store={
    'apple':10,
    'banana':15,
    'orange':8,
    'grapes':20
}
dict3={
    'name': "chandan",
    123:"integer key",
    (1,2):"tuple",
    3.5:"float key"
}
#solve:-
dict={}
for i in (dict1,dict2,dict3):
    dict.update(i)
print(dict)

{'name': 'chandan', 'age': 25, 'country': 'India', 'apple': 10, 'banana': 15, 'orange': 8, 'grapes': 20, 123: 'integer key', (1, 2): 'tuple', 3.5: 'float key'}

### Question 2

Print a dictionary where the keys are  number between 1 and 15 and square of keys

In [51]:
#solve:-
# print 1 to 15 square
number={x:x*x for x in range(1,16)
}
print(number)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

##### Method 2

In [61]:
#solve:-
x=int(input("Enter number:"))
squre={}
for i in range(1,x+1):
    squre[i]=i**2

print(squre)
print(type(squre))

Enter number: 50

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500}
<class 'dict'>

### Question 3

Check whether a given key already exists in a dictionary

In [83]:
#solve:-
y={1:10,2:20,3:30,4:40,5:50}
# function
def is_key_present(x):
    #condiction 
    if x in y:
        print("Yes, its exist in the dectonery")
    else:
        print("No,its is not exist in the dictionery")
is_key_present(10) # function call

No,its is not exist in the dictionery