# Sets part 2

### True and 1 are considered as same Value

In [9]:
a={'animal',"ball",1,25,26,9,7,True}
print(a)

{1, 'animal', 7, 9, 26, 'ball', 25}

In [8]:
a={'animal',"ball",1,0,25,26,9,7,False,True,0}
print(a)

{0, 1, 'animal', 7, 9, 'ball', 26, 25}

In [10]:
a={'animal',"ball",25,26,9,7,False,True,}
print(a)

{False, True, 'animal', 7, 9, 'ball', 26, 25}

### Nested is not a property of the set

In [12]:
a={11,12,13,{4,5,6}}
print(a) # unhasable type

TypeError: unhashable type: 'set'

### Check if item is present in the set or not  using (in keyword)

In [14]:
a={"data","Chandan","Python"}
print("Chandan"in a)

True

In [16]:
b={"chandan","python","science"}
print("learn" in b)

False

In [1]:
c={1,2,23,25,25,28}
print(25 in c)

True

### get the length of sets len()

In [2]:
a={"animal","bat","chandan",25,36.5,58}
print(len(a))

6

### Add item function is (.add(value))
#### once a set created , you can not change the item but you can add the new item

In [5]:
a={"a1","B1","c1",1,2,3}
a.add(25)
print(a)

{1, 2, 3, 'a1', 25, 'c1', 'B1'}

In [4]:
a={"a1","B1","c1",1,2,3}
list_5=list(a)
list_5.append(7)
list_5.insert(10,8)
list_5.extend([4,5,6])
d=set(list_5)
print(d)
print(type(d))

{1, 2, 3, 4, 5, 6, 7, 8, 'a1', 'B1', 'c1'}
<class 'set'>

### Update Method keyword (.update)

In [6]:
a={"a1","B1","c1",1,2,3}
b={"data","science"}
a.update(b)
print(a)

{1, 2, 3, 'B1', 'c1', 'data', 'science', 'a1'}

### Remove item form set

In [9]:
a={"a1","B1","c1",1,2,3}
a.remove(2)
print(a)

{1, 3, 'B1', 'c1', 'a1'}

### Remove multipal item from set

In [14]:
a={"a1","B1","c1",1,2,3,85,86,"chandan"}
remove_element={"a1",85,86,"chandan"}
for i in remove_element:
    a.remove(i)
print(a)

{1, 2, 3, 'B1', 'c1'}

### pop method .pop()
##### This method remove random item

In [16]:
a={"a1","B1","c1",1,2,3,85,86,"chandan"}
c=a.pop()
print(a)
print(c)

{2, 3, 'chandan', 'a1', 'B1', 'c1', 85, 86}
1

### Clear Method
#### this method clear(Empty) all set element

In [18]:
a={"data","Chandan","Python"}
a.clear()
print(a)

set()

### Del method
##### this method total empty a memory of set

In [20]:
a={"data","Chandan","Python"}
del a
print(a)

NameError: name 'a' is not defined

### Join two set
##### .union(value)

In [26]:
x={'a','b','c','d'}
y={1,2,3,4,5}
z=x.union(y)
print(z)

{1, 2, 3, 4, 5, 'b', 'd', 'c', 'a'}

### Question 1

write a python program to find the maximum and minimum value in sets

In [3]:
setn={5,10,15,3,2,20,14,15,2}
print("The maximum value in this sets is:-",max(setn))
print("The minimum value in this sets is:-",min(setn))

The maximum value in this sets is:- 20
The minimum value in this sets is:- 2

### Set opration

#### union method

In [5]:
# find union
set1={1,2,3,}
set2={3,4,5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

#### Intersection method
##### set.inntersection(set)

In [7]:
# find entersection
set1={1,2,3,}
set2={3,4,5}
intersection=set1.intersection(set2)
print(intersection)

{3}

#### Difference method

In [12]:
set1={1,2,3}
set2={3,4,5}
diff=set1.difference(set2)
print(diff)

{1, 2}

### Practice Question

Difine two sets student_passed math and students_passed_science 
conataining student ids who passed math scince this respectvily write python code to 

1. Print the number of student who pass math and science 
2. prunt student ids who pass only math 
3. print the student ids who pass science 
4. dettermnine id student_pass_math is subset student pass science
5. dettermine if student_pass_science is subset of students_pass math  (#.issubset method)

In [15]:
# Difine the two sets
student_passed_math={101,102,103,104,105}
student_passed_science={103,104,105,106,107}

#print both  subject passed student
total_passed_student=student_passed_math.intersection(student_passed_science)
print("Both subject passed student",total_passed_student)

#print math pass only
only_math=student_passed_math.difference(student_passed_science)
print("Student who passed in math is:-",only_math)

#print science pass only
only_science=student_passed_science.difference(student_passed_math)
print("Student who passed in science is:-",only_science)

#print subset 
subset=student_passed_math.issubset(student_passed_science)
print("Student_pass_science is subset of students_pass math:-",subset)

Both subject passed student {104, 105, 103}
Student who passed in math is:- {101, 102}
Student who passed in science is:- {106, 107}
Student_pass_science is subset of students_pass math:- False