# Tuples part-1
#### Once a tuple is created ,you can not change its value .taples are unchangeable. or immutable as it also is called

### Creating Tuples

In [1]:
a=(10,20,30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

### Empty Tuple

In [2]:
tup=()
print(tup)
print(type(tup))

()
<class 'tuple'>

### Single tuple
##### use (',')after single element

In [4]:
b=(5,)
print(b)
print(type(b))

(5,)
<class 'tuple'>

### A tuple with mix data type

In [5]:
b=(1,2,3,"Chandan","ravi",True)
print(b)
print(type(b))

(1, 2, 3, 'Chandan', 'ravi', True)
<class 'tuple'>

### Nested tuples

In [6]:
a=("mouse",2,3,4,2.3,(55,60))
print(a)
print(type(a))

('mouse', 2, 3, 4, 2.3, (55, 60))
<class 'tuple'>

In [7]:
num=([12,13,14],[20,30],[14,36])
print(num)
print(type(num))

([12, 13, 14], [20, 30], [14, 36])
<class 'tuple'>

### Tuple constructor     tuple()

In [1]:
empty=tuple()
print(empty)
print(type(empty))

()
<class 'tuple'>

### Converting list in tuples

In [3]:
list=[1,2,3,4]
number=tuple(list)
print(number)
print(type(number))
print(type(list))

(1, 2, 3, 4)
<class 'tuple'>
<class 'list'>

### Conerting string in to tuple

In [8]:
string_exm= "Hello"
con=tuple(string_exm)
print(con)

('H', 'e', 'l', 'l', 'o')

### Converting dictionary into a tuple

In [15]:
dict_exam={'a':1, 'b':2, 'c':3 }
print(dict_exam)
print(type(dict_exam))
tuple_con=tuple(dict_exam)
print(tuple_con)
print(type(tuple_con))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

### Converting Set into a tuple

In [16]:
set_exm={1,2,3}
print(set_exm)
print(type(set_exm))
set2=tuple(set_exm)
print(set2)
print(type(set2))

{1, 2, 3}
<class 'set'>
(1, 2, 3)
<class 'tuple'>

#### Question 1

Given a list my_list=[1,2,3,4], how can you convert in to tuple?

In [17]:
#Ans-tuple(my_list)
my_list=[1,2,3,4]
new_list=tuple(my_list)
print(new_list)
print(type(new_list))

(1, 2, 3, 4)
<class 'tuple'>