# Tuples part-2

### Indexing      (postive indexing)&(Negative ind)

In [5]:
my_tuple= ('apple','charry','banana')
print(my_tuple[0]) 
print(my_tuple[1])
print(my_tuple[2])

apple
charry
banana

#### Negative indexing

In [7]:
my_tuple= ('apple','charry','banana')
print(my_tuple[-1]) 
print(my_tuple[-2])
print(my_tuple[0])

banana
charry
apple

### Slicing in tuple

In [11]:
my_tuple= ('a','c','b','d','e')
print(my_tuple[:])
print(my_tuple[0:3])
print(my_tuple[:3])
print(my_tuple[3:])

('a', 'c', 'b', 'd', 'e')
('a', 'c', 'b')
('a', 'c', 'b')
('d', 'e')

### Reverseing the tuple

In [10]:
my_tuple= ('a','c','b','d','e')
print(my_tuple[::-1])

('e', 'd', 'b', 'c', 'a')

### Jumping slicing  [::jump index]

In [14]:
my_tuple= ('a','c','b','d','e')
print(my_tuple[::3])

('a', 'd')

In [29]:
t=(1,2,3,4,5,6,7,8)
print(t[::]) # for same print use double colon
print(t[3:])
print(t[:4])

(1, 2, 3, 4, 5, 6, 7, 8)
(4, 5, 6, 7, 8)
(1, 2, 3, 4)

### Duplicates are allowed in the tuple

In [30]:
a=(12,12,14,15,15,13,14,13,14)
print(a)

(12, 12, 14, 15, 15, 13, 14, 13, 14)

### Method of tuples

#### Count method           [a.count(count value)]

In [36]:
a=(12,12,14,15,15,15,13,14,13,14)
print(a.count(12))
print(a.count(15))

2
3

In [39]:
my_tuple= ('apple','charry','banana','chandan','Deepak','chandan','chandan') #(.count)
print(my_tuple.count('chandan'))

3

#### Index method to know about our string index  (.index)

In [48]:
my_tuple= ('apple','charry','banana','chandan','Deepak','chandan','chandan')
print("Index of Deepak is:-",my_tuple.index('Deepak'))
print("Index of Charry is:-",my_tuple.index('charry'))

Index of Deepak is:- 4
Index of Charry is:- 1

### Conveting tuple into list   -list(value)
##### we can any changes into tuple by converting in to tuple to list and change any thing into list and 
##### again change list to tuple() form these step to change our tuple element easy.

In [ ]:
a=("data","Chandan","Python")
print(type(a))
y=list(a)
print(type(y))

# change list element
y[1]="science"
print(y)

# add element in list
y.append("learn")
print(y)

#removeing element in list
y.remove("learn")
print(y)

#add element in index wise
y.insert(0,"course") # (index number,value)
print(y)

#with change value in the convert in to tuple again
b=tuple(y)
print(b)
print(type(b))

### Add tuple to a tuple`

In [68]:
tup=('python',"data",'science')
tup2=("code",)
tup+=tup2
print(tup)

('python', 'data', 'science', 'code')

### Remove Item (.remove())

In [72]:
my_tuple= ('apple','charry','banana','chandan','Deepak','chandan','chandan')

#convert into list and remove item
my_list=list(my_tuple)
my_list.remove("banana")

#convert in to tuple
new_tup=tuple(my_list)
print(new_tup)

('apple', 'charry', 'chandan', 'Deepak', 'chandan', 'chandan')

### Change the  Item in the tuple

In [74]:
my_tuple= ('apple','charry','banana','chandan','Deepak')

new_list=list(my_tuple)

new_list[2]="bluebarry"

y=tuple(new_list)
print(y)

('apple', 'charry', 'bluebarry', 'chandan', 'Deepak')

### delet Keyword del

In [79]:
#deleting all item complate delet
x=(2,3,4,5)
del x

### Loop through a tuple

In [82]:
this_tuple=("a","b","c")
for i in this_tuple:
    print(i)

a
b
c

### Join two tuple with '+'oprater

In [85]:
x=(1,2,3,4,)
y=("a","b","c")
print(x+y)

(1, 2, 3, 4, 'a', 'b', 'c')

### Multiply tuples

In [88]:
my_tuple= ('apple','charry','banana')
my_tup=my_tuple*2
print(my_tup)
my_tup=my_tuple*4
print(my_tup)

('apple', 'charry', 'banana', 'apple', 'charry', 'banana')
('apple', 'charry', 'banana', 'apple', 'charry', 'banana', 'apple', 'charry', 'banana', 'apple', 'charry', 'banana')